**
!build/
!build/clients/
!build/clients/**
!build/companions/
!build/companions/**
!source_release/
!source_release/**
!bottomscreen/
!bottomscreen/bottomd/
!bottomscreen/bottomd/**
!bottomscreen/bedrockmap/
!bottomscreen/bedrockmap/**
!bottomscreen/telemetry/
!bottomscreen/telemetry/**
!scripts/
!scripts/build_context_bridge.sh
!scripts/build_rgds_artifacts.sh
